# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
hs_err_pid*
*hprof*/
*.hprof
.classpath
.metadata

# --------------------------------------
# idea
# --------------------------------------
.idea/
.run/
*.iml
*.eml
*.ipr
*.iws
*.sw?

# --------------------------------------
# vscode
# --------------------------------------
.vscode/

# --------------------------------------
# gradle
# --------------------------------------
.gradle/
.kotlin/
build/
bin/
!/**/src/**/build
!/**/src/**/bin

# --------------------------------------
# maven
# --------------------------------------
target/
!/**/src/**/target

# --------------------------------------
# 构建产物等
# --------------------------------------
*.jar
*.war
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
!gradle/wrapper/gradle-wrapper.jar

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*

# --------------------------------------
# log file
# --------------------------------------
*.log
