# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
hs_err_pid*
*hprof*/
*.hprof

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# gradle
# --------------------------------------
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/libs.versions.toml

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*
